// colors
$main-color: #5e6e5f;
$text-color: #161619;
$bg-natural: #f3ece2;
$bg-about-us: #fbf6f6;

//width & height
$logo-width: 150px;

// font families
$font-family-1: 'Cormorant Garamond', serif;
$font-family-2: 'Alex Brush', cursive;
$font-family-3: 'Montserrat', sans-serif;
